@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    margin: 1em;
}

svg {
    outline: 5px dotted red;
    width: 50%;
    height: auto;
}

#rectangle {
    width: 0;
    transition: width 0.5s ease-out;
}

svg:hover {
    cursor: pointer;
}

svg:active #rectangle {
    width: 500;
    color: cornflowerblue;
}

text {
    font-family: "Chewy", sans-serif;
    font-weight: 400;
    font-style: normal;
}