@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

svg {
    outline: 5px dotted red;
    width: 50%;
    height: auto;
}

#rectangle,
#rectangle2 {
    transition: all 0.5s;
}

svg:hover {
    cursor: pointer;
}

svg:active #rectangle {
    width: 0%;
}

text,
h1 {
    font-family: "Chewy", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #343;
}
